python/dist/*
python/jpddsforcasting/modelfactory.pyc
python/jpddsforcasting/sma.pyc
python/jpddsforcasting/pipelineforcasting.pyc
python/jpddsforcasting/prophettestmodel-1_prophet_20170905163139497.pkl
python/jpddsforcasting/prophettestmodel-2_prophet_20170905163144749.pkl
python/jpddsforcasting/smatestmodel-1_sma_20170905163135462.pkl
python/jpddsforcasting/smatestmodel-2_sma_20170905163142302.pkl
python/jpddsforcasting/toolbox.pyc
python/jpddsforcasting/__pycache__/modelfactory.cpython-36.pyc
python/jpddsforcasting/__pycache__/pipelineforcasting.cpython-36.pyc
python/jpddsforcasting/__pycache__/toolbox.cpython-36.pyc
python/jpddsforcasting/__pycache__/modelfactory.cpython-36.pyc
python/jpddsforcasting/__pycache__/pipelineforcasting.cpython-36.pyc
python/jpddsforcasting/__pycache__/sma.cpython-36.pyc
